In [6]:
import pandas as pd

In [7]:
a = pd.DataFrame(data=None, index=None, columns=None, copy=None)

In [8]:
import numpy as np

np.random.seed(0)
arr = np.random.randint(10, size=(2,2))
print(arr)

[[5 0]
 [3 3]]

In [10]:
df1 = pd.DataFrame(arr, copy=False)
df2 = pd.DataFrame(arr, copy=True)

In [11]:
arr[0,0] = 99

In [12]:
print(df1)
print(df2)

    0  1
0  99  0
1   3  3
   0  1
0  5  0
1  3  3

In [20]:
data = {'A':[1,2], 'B':[3,4]}
df = pd.DataFrame(data=data, index=['row1', 'row2'])
print(df)

      A  B
row1  1  3
row2  2  4

In [16]:
data = np.array([1,2,3,4]).reshape(2,2)
df = pd.DataFrame(data=data, index=['row1', 'row2'], columns=['col1', 'col2'])
print(df)

      col1  col2
row1     1     2
row2     3     4

In [21]:
data = [[1, 10, 100], [2, 20, 200], [3, 30, 300]]
col = ['col1', 'col2', 'col3']
row = ['row1', 'row2', 'row3']
df = pd.DataFrame(data=data, index=row, columns=col)
print(df)

      col1  col2  col3
row1     1    10   100
row2     2    20   200
row3     3    30   300

In [22]:
result = df.add(1)
print(result)

      col1  col2  col3
row1     2    11   101
row2     3    21   201
row3     4    31   301

In [23]:
result = df + 1
print(result)

      col1  col2  col3
row1     2    11   101
row2     3    21   201
row3     4    31   301

In [24]:
data2 = [[3], [4], [5]]
df2 = pd.DataFrame(data=data2, index=['row1', 'row2', 'row3'], columns=['col1'])
print(df2)

      col1
row1     3
row2     4
row3     5

In [25]:
result = df.add(df2)
print(result)

      col1  col2  col3
row1     4   NaN   NaN
row2     6   NaN   NaN
row3     8   NaN   NaN

In [26]:
result = df.add(df2, fill_value=0)
print(result)

      col1  col2   col3
row1     4  10.0  100.0
row2     6  20.0  200.0
row3     8  30.0  300.0

In [27]:
data = [[1, 10, 100], [2, 20, 200], [3, 30, 300]]
col = ['col1', 'col2', 'col3']
row = ['row1', 'row2', 'row3']
df = pd.DataFrame(data=data, index=row, columns=col)
print(df)

      col1  col2  col3
row1     1    10   100
row2     2    20   200
row3     3    30   300

In [28]:
result = df.sub(1)
print(result)

      col1  col2  col3
row1     0     9    99
row2     1    19   199
row3     2    29   299

In [29]:
result = df-1
print(result)

      col1  col2  col3
row1     0     9    99
row2     1    19   199
row3     2    29   299

In [30]:
data2 = [[3], [4], [5]]
df2 = pd.DataFrame(data=data2, index=['row1', 'row2', 'row3'], columns=['col1'])
print(df2)

      col1
row1     3
row2     4
row3     5

In [31]:
result = df.sub(df2)
print(result)

      col1  col2  col3
row1    -2   NaN   NaN
row2    -2   NaN   NaN
row3    -2   NaN   NaN

In [37]:
result = df.sub(df2, fill_value=0)
print(result)

      col1  col2   col3
row1    -2  10.0  100.0
row2    -2  20.0  200.0
row3    -2  30.0  300.0

In [38]:
data = [[1, 10, 100], [2, 20, 200], [3, 30, 300]]
col = ['col1', 'col2', 'col3']
row = ['row1', 'row2', 'row3']
df = pd.DataFrame(data=data, index=row, columns=col)
print(df)

      col1  col2  col3
row1     1    10   100
row2     2    20   200
row3     3    30   300

In [39]:
result = df.mul(2)
print(result)

      col1  col2  col3
row1     2    20   200
row2     4    40   400
row3     6    60   600

In [40]:
result = df * 2
print(result)

      col1  col2  col3
row1     2    20   200
row2     4    40   400
row3     6    60   600

In [41]:
data2 = [[3], [4], [5]]
df2 = pd.DataFrame(data=data2, index=['row1', 'row2', 'row3'], columns=['col1'])
print(df2)

      col1
row1     3
row2     4
row3     5

In [42]:
result = df.mul(df2)
print(result)

      col1  col2  col3
row1     3   NaN   NaN
row2     8   NaN   NaN
row3    15   NaN   NaN

In [43]:
result = df.mul(df2, fill_value=1)
print(result)

      col1  col2   col3
row1     3  10.0  100.0
row2     8  20.0  200.0
row3    15  30.0  300.0

In [44]:
result = df.div(df2)
print(result)

          col1  col2  col3
row1  0.333333   NaN   NaN
row2  0.500000   NaN   NaN
row3  0.600000   NaN   NaN

In [45]:
result = df / 2
print(result)

      col1  col2   col3
row1   0.5   5.0   50.0
row2   1.0  10.0  100.0
row3   1.5  15.0  150.0

In [47]:
result = df.div(df2, fill_value=2)
print(result)

          col1  col2   col3
row1  0.333333   5.0   50.0
row2  0.500000  10.0  100.0
row3  0.600000  15.0  150.0

In [49]:
df = pd.DataFrame(data=[[1, 2, 3], [4, 5, 6], [7, 8, 9]], index=['row1', 'row2', 'row3'], columns=['col1', 'col2', 'col3'])
print(df)

      col1  col2  col3
row1     1     2     3
row2     4     5     6
row3     7     8     9

In [50]:
result = df.mod(7)
print(result)

      col1  col2  col3
row1     1     2     3
row2     4     5     6
row3     0     1     2

In [51]:
result = df % 7
print(result)

      col1  col2  col3
row1     1     2     3
row2     4     5     6
row3     0     1     2

In [52]:
df2 = pd.DataFrame(data=[[2], [3], [5]], index=['row1', 'row2', 'row3'], columns=['col1'])
print(df2)

      col1
row1     2
row2     3
row3     5

In [55]:
result = df % df2
print(result)

      col1  col2  col3
row1     1   NaN   NaN
row2     1   NaN   NaN
row3     2   NaN   NaN

In [53]:
result = df.mod(df2)
print(result)

      col1  col2  col3
row1     1   NaN   NaN
row2     1   NaN   NaN
row3     2   NaN   NaN

In [54]:
result = df.mod(df2, fill_value=1)
print(result)

      col1  col2  col3
row1     1   0.0   0.0
row2     1   0.0   0.0
row3     2   0.0   0.0

In [56]:
result = df.pow(3)
print(result)

      col1  col2  col3
row1     1     8    27
row2    64   125   216
row3   343   512   729

In [57]:
result = df ** 3
print(result)

      col1  col2  col3
row1     1     8    27
row2    64   125   216
row3   343   512   729

In [59]:
data2 = [[0], [3], [5]]
df2 = pd.DataFrame(data=data2, index=['row1', 'row2', 'row3'], columns=['col1'])
print(df2)

      col1
row1     0
row2     3
row3     5

In [60]:
result = df.pow(df2)
print(result)

       col1  col2  col3
row1      1   NaN   NaN
row2     64   NaN   NaN
row3  16807   NaN   NaN

In [61]:
result = df ** df2
print(result)

       col1  col2  col3
row1      1   NaN   NaN
row2     64   NaN   NaN
row3  16807   NaN   NaN

In [62]:
result = df.pow(df2, fill_value=2)
print(result)

       col1  col2  col3
row1      1   4.0   9.0
row2     64  25.0  36.0
row3  16807  64.0  81.0

In [70]:
# col = ['col1', 'col2']
# row = ['row1', 'row2']
data1 = [[1,2], [3,4]]
data2 = [[5,6], [7,8]]
df1 = pd.DataFrame(data=data1)
df2 = pd.DataFrame(data=data2)
print(df1)
print()
print(df2)

   0  1
0  1  2
1  3  4

   0  1
0  5  6
1  7  8

In [72]:
result = df1.dot(df2)
print(result)

    0   1
0  19  22
1  43  50

In [73]:
# 형식변환